[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
	branch = master
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "bundle/vim-wakatime"]
	path = bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
	branch = master
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	branch = master
